body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
}


@font-face {
    font-family: 'GemunuLibreExtraBold';
    src: url(gemunulibre/gemunu-libre.extrabold.woff) format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');


p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 20px;
    font-weight: 400px;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 32);
    transition: 0.3s;
}

a:hover {
    color: #526E74;
}

h1 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 500;
    font-size: 70px;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 40px;
    font-weight: 400px;
    text-align: center;
    padding:70px 0px 20px;
    color:rgb(36, 36, 36);

}

h3 {
    font-size: 24px;
    color: white;
    font-family: 'GemunuLibreExtraBold', sans-serif;
}

h4 {
    font-size: 30px;
    color: rgb(36, 36, 36);
    font-family: 'GemunuLibreExtraBold', sans-serif;
}

.button1 {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-decoration: none;
    color: white;
    width: 150px;
    border: 2px solid #506B71;
    border-radius: 20px;
    padding: 7px 10px;
    background-color: #506B71;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}


.button1:hover {
    background-color: #CFDCD2;
    color: rgb(36, 36, 36);
}



/* --------------------------INDEX NAV----------------------------------------------*/



.bg-img {
    background-image: url("images/cam1.jpeg");
    box-shadow: inset 0 0 99999px rgba(161, 192, 129, 0.5);
    height: 1050px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav-wrapperhome {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 0px 30px;
}


.camille-folleyhome {
    font-weight: 700;
    overflow: visible;
    width: 500px;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: 8px;
    font-family: 'GemunuLibreExtraBold', sans-serif;
    color: #344453;
}
.yoga-studiohome {
    font-weight: 700;
    margin: 0px 0px 0px 30px;
    padding-top: 150px;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: 8px;
    font-family: 'GemunuLibreExtraBold', sans-serif;
    color: navajowhite;
}

.topnavhome-right {
    position: relative;
    text-align: right;
}


    .topnavhome-right a {
        margin: 0px 20px 0px 70px;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        text-decoration: none;
        color: navajowhite;
        border-bottom: transparent;
        transition: 0.5s;
    }

        .topnavhome-right a:hover {
            color: #cc6600;
            border-bottom: 2px solid #cc6600;
}

.activenav {
    color: #cc6600 !important;
}


/* --------------------------PAGES NAV----------------------------------------------*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    top: 0px;
    background-color: #CFDCD2;
    height: 70px;
}

.topnav-left {
    font-weight: 700;
    width: 500px;
    padding-left: 30px;
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    line-height: 25px;
    letter-spacing: 5px;
    color: #344453;
}


.yogaheader {
    color: #6E7B88;
    letter-spacing: 8.56px;
}

.topnav-right {
    display: flex;
    position: relative;
    list-style-type: none;
    padding-top: 15px;
}

    .topnav-right a {
        display: inline-block;
        margin: 8px 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        color: #6E7B88;
        border-bottom: transparent;
        transition: 0.5s;
    }

        .topnav-right a:hover {
            color: #cc6600;
            border-bottom: 2px solid #cc6600;
}


.activenav {
    color: #cc6600 !important;
}




/* --------------------------INDEX----------------------------------------------*/

.intro {
    width: 100%;
    height: 800px;
    margin: 0px;
    padding-top: 200px;
    display: inline-block;
    background-color: #CFDCD2;
    text-align: center;

}


.FOUNDER {
    background-color: lightpink;
    display: flex;
    width: 100%;
    height: 900px;
    align-items: center;
}

.camillephoto {
    margin:60px 40px 60px 160px;
    height: 70%;
    width: auto;
    float: left;
}
.camilletext {
    margin-left: 70px;
}

.quote1-1 {
    text-align: center;
    font-size: 25px;
}

.quote1-2 {
    text-align: center;
    padding-left: 30px;
    font-size: 30px;
    
}

.quotation1 { 
    text-align: left;
    font-size: 80px;
}

.quotation2 { 
    text-align: right;
    font-size: 80px;
}


/* --------------------------CLASSES----------------------------------------------*/


.bodee {
    padding: 200px 100px;
    justify-content: space-between;
    background-color: lightpink;
}

    .bodee p {
        font-family: 'Poppins', sans-serif;
        padding: 0px 80px;
    }

.classheader h1{
        position: relative;
        font-family: 'Poppins', sans-serif;
        font-size: 80px;
        color: black;
        padding: 0px 80px;
    }

.classes {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: lightpink;
}

.yogaclass {
    display: inline-block;
    position: relative;
}


.yogaclass a {
    position: absolute;
    top: 45%;
    left: 33%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 150px;
    border: 3px solid #506B71;
    border-radius: 20px;
    padding: 7px 10px;
    background-color: #506B71;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.yogaclass a:hover {
        background-color: #CFDCD2;
        border: 3px solid #CFDCD2;
        color: black;
}  

.barreclass {
    display: inline-block;
    position: relative;
}

.barreclass a {
    position: absolute;
    top: 45%;
    left: 33%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 150px;
    border: 3px solid #506B71;
    border-radius: 20px;
    padding: 7px 10px;
    background-color: #506B71;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}


.barreclass a:hover {
    background-color: #CFDCD2;
    border: 3px solid #CFDCD2;
    color: black;
}





    /* --------------------------CONTACT----------------------------------------------*/

.hitmeup {
    margin: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: #526E74;
    height: 305px;
    text-align: center;
    font-family: gemunuLibre, sans-serif;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
} 

.top-boxes{
    display: flex;
}
    
iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}


.Contact-info {
    width: 100%;
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    line-height: 10px;
}

.contact-container {
    justify-content: center;
    height: 150px;
    margin: auto;
}

.email, .phone-number {
    display: flex;
    align-items: center;
}


.contact-text {

    font-size: 35px;
    color: rgb(0, 0, 0);
    line-height: 70px;
    padding: 0 0 0 20px;
}

.Socials {
    background-color: #EFADAD;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display:flex;
}

.social-box {
    justify-content: center;
    margin: auto;
}
    
.social-link {
    display: flex;
    width: 200px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.social-link h4 {
    font-size: 45px;
    color: rgb(36, 36, 36);
    line-height: 40px;
    padding: 30px 30px;
}

.membership {
    display: flex;
}


.barreimg {
    width: 33.3%;
    height: auto;
}


.membership-type {
    background-color: #CFDCD2;
    width: 66.7%;
    display: flex;
    align-items: center;
}

.text-box {
    text-align: justify;
    margin: auto;
}


.membership-type .button1 {
    position: relative;
    width: 200px;
    margin-top: 50px;
    text-align: center;
}

.membership-type h1 {
    font-size: 48px;
    width: 500px;
}
.contact-form {
    width: 100%;
    height: 600px;
    background-color: #506B71;
}

.input-container {
    width: 100%;
    Height: 600px;
    display: flex;
    align-items: center;
}

.input-boxes {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: pink;
}




    /* --------------------------ABOUT----------------------------------------------*/
